<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="padding: 15px;">
  <div class="row">
    <div class="col-md-8">
      <h1>Seja bem vindo ao {{ title }}!</h1>
    </div>
    <div class="col-md-4">
      <button class="btn btn-default" mat-button (click)="goBack()">Voltar</button> &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" mat-button (click)="openDialog()">Cadastrar-se</button> &nbsp;&nbsp;&nbsp;
      <button class="btn btn-success" mat-button (click)="goToLogin()" routerLink="/login">Login</button>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>